{% include 'global/partials/head.html' %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'global/partials/head.html' %}
    <title>{% block title %}{% endblock title %} Receitas</title>
</head>
<body>
    <div class="fixed_footer">
        {% include 'global/partials/header.html'%}
        {% include 'global/partials/search.html'%}
        <main class="main-content-container">
            {% block content %}{% endblock content %}
            {% include 'global/partials/pagination.html' %}

        </main>        
    </div>
    {% include 'global/partials/footer.html' %}
    
</body>

</html>